.bodyQnA{
    min-height: 100vh;
    display: grid;
    grid-template-rows: 615px 40px;
    justify-items: center;
}
.wrapHeader{
    width: 100%;
    height: 600px;
    background: rgba(0, 0, 0, 0.22);
}
.wrapWrapHeader{
    width: 100%;
    height: 600px;
    background: linear-gradient(to top,#b97f62,#866e65);
}
.header{
    background: url("https://images.unsplash.com/photo-1593526613712-7b4b9a707330?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80")  50% 50% no-repeat;
    background-size: 80%;
    width: 100%;
    height: 600px;
    padding-top: 25px;
}
.text{
    color: white;
    font-size: 20px;
    padding-top: 30px;
    margin-left: 230px;
}
.QnA {
    display: grid;
    grid-template-columns: repeat(7, 1fr) 4fr;
    grid-gap: 5px;
    width: 95%;
    height: 30px;
    margin-top: 50px;
    border-bottom: 1px solid #f2f2f2;

}
.navLink{
    min-width: 50px;
    font-size: 20px;
    text-decoration: none;
    text-align: center;
    color: #333333;
}
.navLink:hover{
    border-bottom: 1px solid #333333;
}
.active{
    color: #3192cb;
    border-bottom: 1px solid #3192cb;
}