.profileFeed1 {
    grid-area: feed;
    display: grid;
    justify-items: center;
}
.profileFeed{
    display: grid;
    justify-items: center;
    width: 900px;
    border-bottom: 1px solid #f2f2f2;
}
.wrapInput{
    height: 60px;
}
.wrapInput2{
    display: grid;
    grid-template-columns: 1fr 3fr;
    width: 750px;
    height: 60px;
    justify-items: right;
}

.inputPost {
    display: block;
    box-sizing: border-box;
    width: 750px;
    height: 50px;
    padding: 5px 20px;
    resize: none;
    transition: 0.3s;
    border-radius: 20px;
    outline: none;
}
/*.inputPost:focus{*/
/*    width: 850px;*/
/*    height: 60px;*/
/*    padding: 5px 70px;*/
/*}*/
.inputPost2{
    display: block;
    box-sizing: border-box;
    width: 570px;
    height: 40px;
    padding: 5px 20px;
    resize: none;
    transition: 0.3s;
    border-radius: 20px;
    outline: none;
}
.inputPost2:focus, .inputPost:focus{
    box-shadow: 5px 5px 10px -5px rgba(184,184,184,0.8);
}
.btn{
    width: 150px;
    height: 40px;
    font-size: 16px;
    color: #333333;
    border: 1px solid #f2f2f2;
    border-radius: 17px;
    background: #e0e0e0;
    outline: none;
}
.btn:hover{
    background: #bebebe;
    color: #f2f2f2;
}
.btn:active{
    background: #b0b0b0;
    color: #f2f2f2;
}
.posts {
    display: grid;
    width: 80%;
    margin-bottom: 100px;
}