.userInfo {
    grid-area: userInfo;
    display: grid;
    grid-template-columns: 1fr 2fr 2fr;
    height: 200px;
    padding: 25px;
    background: rgba(0, 0, 0, 0.32);
}
.avatar{
    width: 200px;
    height: 200px;
    background: url("https://sun9-33.userapi.com/impf/c845419/v845419980/19601a/fYUtyCJnvO4.jpg?size=200x0&quality=90&sign=ef7740b6c1729cf94818347692822a20&ava=1") center;
    border-radius: 100px;
}
.userName {
    display: inline-block;
    padding: 5px 10px 5px 10px;
    font-size: 24px;
    background: #222;
    color: #f2f2f2;
    /*border-radius: 5px;*/
}